*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5f7f5;
    min-height:100vh;
}

.container{
    display:flex;
    min-height:100vh;
}

/* LEFT */

.left-panel{
    width:50%;
    height:100vh;
    position:relative;

    background:
    linear-gradient(
        rgba(245,250,245,0.85),
        rgba(245,250,245,0.85)
    ),
    url("admin-bg.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;
}
    
.left-content{
    width:70%;
    z-index:2;
}

.logo{
    font-size:70px;
    margin-bottom:20px;
}

.left-content h1{
    font-size:55px;
    color:#0f172a;
    margin-bottom:20px;
}

.left-content p{
    font-size:24px;
    color:#475569;
    line-height:1.8;
    margin-bottom:40px;
}

.features{
    display:flex;
    gap:15px;
}

.item{
    background:white;
    padding:15px 25px;
    border-radius:15px;
    font-size:18px;
    font-weight:600;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

/* RIGHT */

.right-panel{
    width:55%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.login-card{
    width:500px;
    background:white;
    padding:50px;
    border-radius:25px;
    box-shadow:0 5px 25px rgba(0,0,0,.08);
}

.top-logo{
    font-size:60px;
    text-align:center;
}

.login-card h2{
    text-align:center;
    margin-top:10px;
    font-size:38px;
    color:#111827;
}

.subtitle{
    text-align:center;
    margin:10px 0 35px;
    color:#6b7280;
}

label{
    display:block;
    margin-bottom:10px;
    font-weight:600;
}

.input-box{
    border:1px solid #d1d5db;
    border-radius:12px;
    display:flex;
    align-items:center;
    padding:14px;
    margin-bottom:25px;
}

.input-box i{
    color:#6b7280;
    margin-right:12px;
}

.input-box input{
    border:none;
    outline:none;
    width:100%;
    font-size:16px;
}

button{
    width:100%;
    border:none;
    background:#2fa53b;
    color:white;
    padding:15px;
    border-radius:12px;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#258730;
}

.copyright{
    margin-top:25px;
    color:#6b7280;
}

@media(max-width:1000px){

    .left-panel{
        display:none;
    }

    .right-panel{
        width:100%;
    }

    .login-card{
        width:90%;
    }
}